<!-- Validation failure messages -->
<% if @outfit.errors.any? %>
  <% @outfit.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Outfit #<%= @outfit.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_outfit/<%= @outfit.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @outfit.user_id %>">
      </div>

      <!-- Label and input for comfort_zone_id -->
      <div class="form-group">
        <label for="comfort_zone_id" class="control-label">
          Comfort zone
        </label>

        <input type="text" id="comfort_zone_id" name="comfort_zone_id" placeholder="Comfort zone" class="form-control" value="<%= @outfit.comfort_zone_id %>">
      </div>

      <button class="btn btn-warning">
        Update Outfit
      </button>
      or
      <a href="/outfits/<%= @outfit.id %>">Cancel</a>
    </form>
  </div>
</div>
