<div class="page-header">
  <h3>Outfit #<%= @outfit.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @outfit.user.present? %>
          <a href="/users/<%= @outfit.user_id %>">
            <%= @outfit.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Comfort zone</dt>
      <dd>
        <% if @outfit.comfort_zone.present? %>
          <a href="/comfort_zones/<%= @outfit.comfort_zone_id %>">
            <%= @outfit.comfort_zone.comfort_zone_name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/outfits" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @outfit.user %>
        <a href="/outfits/<%= @outfit.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_outfit/<%= @outfit.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Outfit has many outfit_items -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Outfit Items
      </li>

      <% @outfit.outfit_items.each do |outfit_item| %>
        <li class="list-group-item">
          <a href="/outfit_items/<%= outfit_item.id %>">
            <%= outfit_item.outfit_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/outfit_items/<%= outfit_item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/outfit_items/<%= outfit_item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_outfit_item/<%= outfit_item.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_outfit_item" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for outfit_id -->
      <input type="hidden" name="outfit_id" value="<%= @outfit.id %>">

      <!-- Label and input for clothing_item_id -->
      <div class="form-group">
        <label for="clothing_item_id" class="control-label">
          Clothing item
        </label>

        <%= select_tag(:clothing_item_id, options_from_collection_for_select(ClothingItem.all, :id, :item_name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Outfit Item
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
