<div class="page-header">
  <h3>Outfit #<%= @outfit.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @outfit.user_id %></dd>

      <dt>Comfort zone</dt>
      <dd><%= @outfit.comfort_zone_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/outfits" class="btn btn-primary">
        Back
      </a>
      <a href="/outfits/<%= @outfit.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_outfit/<%= @outfit.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
