<div class="page-header">
  <h3>Clothing Item #<%= @clothing_item.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Item name</dt>
      <dd><%= @clothing_item.item_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/clothing_items" class="btn btn-primary">
        Back
      </a>
      <a href="/clothing_items/<%= @clothing_item.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_clothing_item/<%= @clothing_item.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Clothing item has many outfit_boms -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Outfit Boms
      </li>

      <% @clothing_item.outfit_boms.each do |outfit_item| %>
        <li class="list-group-item">
          <a href="/outfit_items/<%= outfit_item.id %>">
            <%= outfit_item.outfit_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/outfit_items/<%= outfit_item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/outfit_items/<%= outfit_item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_outfit_item/<%= outfit_item.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
